
.include-custom-font(@family-name: arial, @family-font: arial-regular, @weight: normal, @style: normal){
	@font-face {
		font-family: '@{family-name}';
		src:url('../public/fonts/@{family-font}/@{family-font}.eot');
		src:url('../public/fonts/@{family-font}/@{family-font}.eot?#iefix') format('embedded-opentype'),
			url('../public/fonts/@{family-font}/@{family-font}.woff') format('woff'),
			// url('../public/fonts/@{family-font}/@{family-font}.woff2') format('woff2'),
			// url('../public/fonts/@{family-font}/@{family-font}.svg#@{family-name}') format('svg'),
			url('../public/fonts/@{family-font}/@{family-font}.ttf') format('truetype');			
		font-weight: @weight;
		font-style: @style;
	}
}

// /* Font-add */

.include-custom-font(Roboto, RobotoRegular, normal, normal);
